<p>
  <b>Name:</b>
  <%=h @prcess.name %>
</p>

<p>
  <b>Parent:</b>
  <%=h @prcess.parent_id %>
</p>

<p>
  <b>Value:</b>
  <%=h @prcess.value %>
</p>


<%= link_to 'Edit', edit_prcess_path(@prcess) %> |
<%= link_to 'Back', prcesses_path %>
